body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-cointainer {
  background-color: rgb(222, 101, 210);
  text-align: center;
  height: 300px;
  width: 500px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.count-display {
  font-size: 10em;
  margin-top: 50;
  margin-bottom: 50px;

}

.count-button {
  width: 150px;
  height: 50px;
  font-size: 1.em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(222, 230, 5);
  border: none;
  border-radius: 5px;
  cursor: pointer;

}