body{
  background-image: url(assets/wp4011367.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.classContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;

}

.clock{
  color: hwb(235 0% 0% / 0.849);
  padding: 30px;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(145, 79%, 39%, 0);
  text-shadow: 100px;
  text-shadow: 0 0 10px rgb(255, 230, 0); /* Add a white text shadow with blur radius */
  
}